.overlay {
  position: fixed;
  inset: 0;
  background: rgba(206,206,206,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  background: #ebebeb;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  position: relative;
}

.close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
.modalHeader{
    margin-top: 0;
    color: #000;
}
.incomeInput{
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    height: 35px;
    padding: 0 10px;
    width: 100px;
    margin-right: 15px;
}
.expenseInput{
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    height: 35px;
    padding: 0 10px;
    width: 40%;
    margin-right: 15px;
}
.expenseCat{
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    height: 35px;
    padding: 0 10px;
    width: 45.5%;
    margin-right: 15px;    
}
.addBalance{
    color: #fff;
    background-color: #f4bb4a;
    margin-right: 15px;
}
.btnCancel{
    background-color: #e3e3e3;
    color: black;
    padding: 8px 10px;
}